[Unit]
Description=ADS-B Webservice
After=network.target

[Service]
User=www-data
WorkingDirectory=/opt/adsb-webservice/adsb_service
ExecStart=/usr/bin/python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target